.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.video-thumbnail{
    width: 100%;
}
p{
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin: 0px;
    padding-left: 96px;
    padding-top: 80px;
    padding-right: 27px;
    background-color: rgb(251, 247, 247);
}
.video-desc{
   display: grid;
   grid-template-columns: 50px 1fr;
   margin-top: 10px;
}
.channel-picture{
    width: 60px;
}
.pfp{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 8px;
}
.video-info{
    margin-left: 10px;
 
}
.video-title{
    font-weight: bold;
}
.video-author{
    color: rgb(146, 133, 133);
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 4px;
}
.video-stats{
    color: rgb(146, 133, 133);
    font-size: 14px;
}
.thumbnail-row{
    position: relative;
    margin-bottom: 12px;
}
.video-time{
    background-color: black;
    font-family: arial;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}